/* ========== blog =========== */
.wabe-bg-blog {
  position: relative;
  bottom: 60px;
}

.blog-card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background: var(--common-color);
  padding: 1rem;
  width: 90%;
  border-radius: 20px;
}

.blog-card img {
  height: 160px;
  width: 290px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.blog-card-right {
  margin-left: 2rem;
}

.blog-card h5 {
  font-family: var(--primary-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.blog-card .subheading-sibling {
  color: #adabb7;
}

/* ========== End blog =========== */
